.header-frame23696 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.header-frame1625 {
  display: flex;
  padding: 8px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-default-red);
  background-image: linear-gradient(60deg, rgba(199, 51, 103, 1) 0%, rgba(253, 48, 91, 1) 100%);
}
.header-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.header-frame2403 {
  width: 100%;
  display: flex;
  padding: 16px 0;
  position: relative;
  background: linear-gradient(180deg, #000000 -96.87%, rgba(0, 0, 0, 0) 226.96%);
  align-items: center;
  backdrop-filter: blur(8px);
  justify-content: center;
  -webkit-backdrop-filter: blur(8px);
}
.header-frame1626 {
  width: 100%;
  display: flex;
  padding: 0 41.14285659790039px;
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.header-image {
  width: 352px;
  object-fit: cover;
}
.header-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.header-frame23590 {
  gap: 16px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.header-frame1621 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.header-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
  margin-right: 16px;
}
.header-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
  margin-right: 16px;
}
.header-text06 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-rectangle19 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
  margin-right: 16px;
}
.header-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navlink {
  display: contents;
}
.header-frame1624 {
  height: 40px;
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 999px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.header-text09 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-vector1-stroke {
  width: 7px;
  height: 12px;
  position: relative;
}
.header-frame16251 {
  height: 40px;
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  justify-content: center;
}
.header-text10 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-vector1-stroke1 {
  width: 7px;
  height: 12px;
  position: relative;
}

@media(max-width: 991px) {
  .header-frame1621 {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-frame1626 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-image1 {
    width: 24px;
    display: flex;
  }
  .header-frame23590 {
    display: none;
  }
  .header-container {
    display: none;
  }
}
@media(max-width: 479px) {
  .header-text {
    font-size: 12px;
  }
  .header-frame1626 {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
  .header-image {
    width: 100%;
  }
  .header-image1 {
    width: 24px;
    display: flex;
  }
  .header-frame23590 {
    display: none;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.footer-frame2400 {
  width: 100%;
  height: 634px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 80px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/frame%202400-700h.webp");
}
.footer-frame1629 {
  width: 100%;
  display: flex;
  max-width: 1080px;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.footer-frame2399 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.footer-frame2377 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
}
.footer-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-frame23628 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.footer-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 300%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: -8px;
  text-decoration: none;
}
.footer-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 300%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-frame53 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.footer-frame2394 {
  width: 100%;
  display: flex;
  align-self: center;
  background: radial-gradient(50% 271.24% at 50% 100%, #367BC4 0%, #061829 100%);
  align-items: center;
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: 80px;
  justify-content: center;
}
.footer-frame23594 {
  flex: 1;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  padding: 48px;
  overflow: hidden;
  max-width: 1080px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/frame%20237161-1100w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-frame23596 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.footer-frame23601 {
  gap: 8px;
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  flex-direction: column;
}
.footer-frame23600 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.footer-frame23595 {
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.footer-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-text15 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.footer-frame23599 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1599999964237213);
}
.footer-text19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: W6;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 200%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.footer-frame1624 {
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 20px;
  border-color: transparent;
  padding-left: 24px;
  border-radius: 999px;
  padding-right: 24px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.footer-text22 {
  color: transparent;
  font-size: 18px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-vector1-stroke {
  height: 16px;
  position: relative;
}
.footer-frame56 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 36px ;
  border-color: transparent;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 36px ;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.footer-frame1626 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1080px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-frame23667 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
  justify-content: space-between;
}
.footer-image {
  width: 352px;
  object-fit: cover;
}
.footer-frame1621 {
  gap: 16px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.footer-text23 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text26 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle19 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-frame23666 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footer-frame16241 {
  height: 40px;
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 999px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.footer-text29 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-vector1-stroke1 {
  width: 7px;
  height: 12px;
  position: relative;
}
.footer-frame1625 {
  height: 40px;
  display: flex;
  padding: 12px 16px 14px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  justify-content: center;
}
.footer-text30 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-vector1-stroke2 {
  width: 7px;
  height: 12px;
  position: relative;
}
.footer-frame57 {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.footer-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media(max-width: 991px) {
  .footer-frame2400 {
    height: auto;
    align-self: center;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: center;
  }
  .footer-frame23594 {
    background-position: 70% 0%;
  }
  .footer-frame23596 {
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-frame23667 {
    gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .footer-frame2400 {
    padding-left: 24px;
    padding-right: 24px;
    background-position: 60% 0%;
  }
  .footer-frame2394 {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
  }
  .footer-frame23601 {
    margin-right: 0px;
  }
  .footer-text15 {
    font-size: 28px;
  }
  .footer-frame56 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media(max-width: 479px) {
  .footer-text02 {
    font-size: 24px;
  }
  .footer-text04 {
    font-size: 16px;
  }
  .footer-frame23594 {
    padding: 24px;
    background-size: cover;
    background-image: cc711611-7616-44bd-a56d-d0e1900d6bed;
  }
  .footer-text15 {
    font-size: 24px;
  }
  .footer-frame23599 {
    width: 100%;
  }
  .footer-text19 {
    width: 100%;
  }
  .footer-frame1624 {
    width: 100%;
  }
  .footer-text22 {
    font-size: 15px;
  }
  .footer-frame56 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-frame23667 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .footer-frame1621 {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text23 {
    width: auto;
  }
  .footer-text24 {
    width: auto;
  }
  .footer-text26 {
    width: auto;
  }
  .footer-text27 {
    width: auto;
  }
  .footer-frame23666 {
    justify-content: center;
  }
}

.form-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.form-frame23676 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 140px;
  border-color: transparent;
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.form-frame23630 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 48px;
  flex-direction: column;
}
.form-frame2397 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.form-frame2403 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.form-frame23606 {
  width: 200px;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
  justify-content: center;
}
.form-image {
  width: 240px;
  object-fit: cover;
}
.form-frame23600 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
}
.form-frame23595 {
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(43, 63, 83, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.form-text {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-frame2377 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.form-text02 {
  color: rgb(43, 63, 83);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-frame23690 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  border-color: transparent;
  margin-bottom: 48px;
  flex-direction: column;
}
.form-i-stock1438810416 {
  width: 100%;
  height: auto;
  position: relative;
  max-width: 1440px;
  object-fit: cover;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: -30px;
}
.form-frame23688 {
  width: 100%;
  display: flex;
  padding: 24px;
  position: relative;
  max-width: 680px;
  box-shadow: 0px 4.949765205383301px 29.698593139648438px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: center;
  border-color: transparent;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.form-frame23682 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.form-text03 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-frame1623 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 980px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 48px;
  justify-content: center;
}
.form-frame2374 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 8px;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.form-chat2 {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 16px;
}
.form-frame2376 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.form-text07 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-frame2373 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 8px;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.form-videoconference {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 16px;
}
.form-frame23761 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.form-text12 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-frame2375 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(234, 234, 234, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.form-chat {
  width: 80px;
  height: 80px;
  position: relative;
  margin-bottom: 16px;
}
.form-frame23762 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.form-text17 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.form-div {
  width: 100%;
  height: 1000px;
  max-width: 980px;
  margin-bottom: 64px;
}
@media(max-width: 991px) {
  .form-frame23676 {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .form-frame2374 {
    flex: 1;
  }
  .form-frame2373 {
    flex: 1;
  }
  .form-frame2375 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .form-frame23676 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .form-text07 {
    font-size: 14px;
  }
  .form-text12 {
    font-size: 14px;
  }
  .form-text17 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .form-frame23676 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .form-frame2397 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .form-frame23606 {
    width: 140px;
    height: 140px;
  }
  .form-image {
    width: 200px;
  }
  .form-text02 {
    font-size: 36px;
  }
  .form-frame23690 {
    margin-bottom: 24px;
  }
  .form-i-stock1438810416 {
    height: 240px;
    margin-top: 0px;
    margin-left: 0x;
    margin-right: 0x;
    border-radius: 0px;
    margin-bottom: -30px;
  }
  .form-frame23688 {
    width: 90%;
  }
  .form-text03 {
    font-size: 20px;
  }
  .form-frame1623 {
    gap: 8px;
    align-self: center;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 24px;
    padding-right: 16px;
    flex-direction: column;
    justify-content: center;
  }
  .form-frame2374 {
    gap: 24px;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-right: 0px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .form-chat2 {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
  }
  .form-frame2376 {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .form-text07 {
    font-size: 4.5vw;
    text-align: left;
  }
  .form-frame2373 {
    gap: 24px;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-right: 0px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .form-videoconference {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
  }
  .form-frame23761 {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .form-text12 {
    font-size: 4.5vw;
    text-align: left;
  }
  .form-frame2375 {
    gap: 24px;
    width: 100%;
    align-self: center;
    align-items: center;
    margin-right: 0px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .form-chat {
    width: 64px;
    height: 64px;
    margin-bottom: 0px;
  }
  .form-frame23762 {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .form-text17 {
    font-size: 4.5vw;
    text-align: left;
  }
}
