.service-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.service-frame23696 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.service-frame2403 {
  width: 100%;
  display: flex;
  position: relative;
  background: #ffffff50;
  align-items: center;
  padding-top: 8px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 8px;
  backdrop-filter: blur(8px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(8px);
}
.service-frame1626 {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.service-navlink {
  display: contents;
}
.service-image {
  width: 352px;
  object-fit: cover;
  text-decoration: none;
}
.service-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.service-frame23590 {
  gap: 16px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.service-frame1621 {
  gap: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.service-link {
  display: contents;
}
.service-container01 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.service-text {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.service-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-link1 {
  display: contents;
}
.service-container02 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.service-text002 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.service-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-container03 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-text004 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-frame23603 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.service-navlink1 {
  display: contents;
}
.service-frame1624 {
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-blue);
  background-image: linear-gradient(60deg, rgba(55, 125, 197, 1) 0%, rgba(1, 55, 146, 1) 100%);
}
.service-text006 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.service-vector1-stroke {
  width: 10px;
  height: 16px;
  position: relative;
}
.service-frame2380 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 108px;
  border-color: transparent;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: flex-end;
  background-color: #ffffff;
}
.service-container04 {
  top: 60px;
  flex: 1;
  width: 100%;
  height: 585px;
  position: absolute;
  background-color: #000000;
}
.service-div1 {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.service-frame2375 {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 99;
  max-width: 1080px;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.service-frame2377 {
  gap: 12px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
  justify-content: center;
}
.service-frame23595 {
  gap: 4px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-right: 8px;
  background-color: rgba(255, 255, 255, 0.07999999821186066);
}
.service-text007 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.service-container05 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.service-container06 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.service-text008 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 56px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text011 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 56px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text014 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 56px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text017 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 56px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Lexend;
  font-weight: 600;
  line-height: 140%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text020 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.service-frame236031 {
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.service-navlink2 {
  display: contents;
}
.service-frame16241 {
  height: 60px;
  display: flex;
  padding: 20px 24px 20px 24px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 999px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.service-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-frame23636 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 16px;
}
.service-text024 {
  color: transparent;
  font-size: 18px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-vector1-stroke1 {
  height: 16px;
  position: relative;
}
.service-frame1625 {
  display: none;
  padding: 20px 24px 20px 24px;
  position: relative;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  justify-content: center;
}
.service-text025 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}
.service-vector1-stroke2 {
  width: 10px;
  height: 16px;
  position: relative;
}
.service-container08 {
  flex: 1;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 70%;
  margin: auto;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(0, 23, 46, 0) 0.00%,rgb(0, 23, 46) 100.00%);
}
.service-frame23677 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 48px;
  border-color: transparent;
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: rgba(255, 249, 251, 1);
}
.service-frame24031 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 36px;
  flex-direction: column;
  justify-content: center;
}
.service-text026 {
  color: rgb(130, 144, 159);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 8px;
  text-decoration: none;
}
.service-text027 {
  color: rgb(43, 63, 83);
  height: auto;
  font-size: 36px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-feature-card {
  gap: 16px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.service-container09 {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.service-text028 {
  color: rgb(130, 144, 159);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
}
.service-text029 {
  color: rgb(43, 63, 83);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline none;
}
.service-container10 {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.service-text032 {
  color: rgb(130, 144, 159);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
}
.service-text033 {
  color: rgb(43, 63, 83);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline none;
}
.service-container11 {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.service-text036 {
  color: rgb(130, 144, 159);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
}
.service-text037 {
  color: rgb(43, 63, 83);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline none;
}
.service-q1-sogo {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 64px;
  border-color: transparent;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: center;
  background-image: linear-gradient(60deg, rgba(55, 125, 197, 1) 0%, rgba(1, 55, 146, 1) 100%); };
}
.service-q2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.service-q3 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 36px 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.service-q4 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.service-q5 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: center;
}
.service-text040 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 179.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.service-text042 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 179.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-cma-l-ogo {
  width: 100%;
  height: auto;
  max-width: 720px;
  object-fit: cover;
}
.service-q6 {
  gap: 24px;
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
}
.service-q-1 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.service-frame2392 {
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.service-text044 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-image2 {
  width: 180px;
  height: 54px;
  position: relative;
  border-color: transparent;
  margin-bottom: 16px;
}
.service-frame23729 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.service-frame2373 {
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 224, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-bottom: -1px;
  background-color: rgba(255, 255, 255, 1);
}
.service-image2 {
  width: 48px;
  object-fit: cover;
  margin-right: 16px;
}
.service-text046 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  flex-grow: 1;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-text047 {
  font-weight: 400;
}
.service-text048 {
  font-weight: 700;
}
.service-frame2376 {
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 224, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-bottom: -1px;
  background-color: rgba(255, 255, 255, 1);
}
.service-image3 {
  width: 48px;
  object-fit: cover;
  margin-right: 16px;
}
.service-text049 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-frame23751 {
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 224, 230, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 1);
}
.service-image4 {
  width: 48px;
  object-fit: cover;
  margin-right: 16px;
}
.service-text051 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-q-2 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.service-frame23921 {
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.service-text056 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-text058 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.service-text063 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.service-image5 {
  width: 100px;
  object-fit: cover;
}
.service-q7 {
  gap: 24px;
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.service-q-3 {
  flex: 1;
  width: auto;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.service-frame23922 {
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.service-text068 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-image5 {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  border-color: transparent;
  margin-bottom: 16px;
}
.service-frame23736 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.service-f777 {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 224, 230, 1);
  border-style: solid;
  border-width: 1px;
  margin-bottom: -1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.service-text070 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-text071 {
  font-weight: 400;
}
.service-hu {
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(217, 224, 230, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.service-text076 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-text077 {
  font-weight: 400;
}
.service-text078 {
  font-weight: 700;
}
.service-q-4 {
  flex: 1;
  display: flex;
  padding: 24px;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.service-frame23923 {
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.service-text080 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-image51 {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  border-color: transparent;
  margin-bottom: 16px;
}
.service-text082 {
  color: rgba(43, 63, 83, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.service-frame236771 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 36px;
  border-color: transparent;
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: center;
  background-color: rgba(255, 249, 251, 1);
}
.service-container12 {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
}
.service-container13 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.service-text087 {
  color: transparent;
  font-size: 28px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-container14 {
  gap: 4px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.service-text090 {
  color: transparent;
  font-size: 48px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-text093 {
  color: transparent;
  font-size: 28px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 130%;
  font-stretch: normal;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-text096 {
  color: transparent;
  font-size: 28px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-text099 {
  color: transparent;
  font-size: 24px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 160%;
  font-stretch: normal;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-container15 {
  width: 100%;
  display: flex;
  max-width: 780px;
  align-items: center;
  aspect-ratio: 16 / 9;
  flex-direction: column;
  justify-content: center;
}
.service-iframe {
  width: 100%;
  height: 100%;
}
.service-container16 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.service-frame53 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.service-frame2394 {
  width: 100%;
  display: flex;
  align-self: center;
  background: radial-gradient(50% 271.24% at 50% 100%, #367BC4 0%, #061829 100%);
  align-items: center;
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: 80px;
  justify-content: center;
}
.service-frame23594 {
  flex: 1;
  width: var(--dl-size-size-maxwidth);
  height: auto;
  display: flex;
  padding: 48px;
  overflow: hidden;
  max-width: 1080px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/frame%202400-1100w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.service-frame23596 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.service-frame23601 {
  gap: 16px;
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  flex-direction: column;
}
.service-image6 {
  width: 100%;
  max-width: 360px;
  object-fit: cover;
}
.service-text102 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.service-navlink3 {
  display: contents;
}
.service-frame16242 {
  height: 60px;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
  align-items: center;
  flex-shrink: 0;
  padding-top: 20px;
  border-color: transparent;
  padding-left: 24px;
  border-radius: 999px;
  padding-right: 24px;
  padding-bottom: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.service-text106 {
  color: transparent;
  font-size: 18px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-vector1-stroke3 {
  height: 16px;
  position: relative;
}
.service-frame56 {
  gap: 24px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 36px ;
  border-color: transparent;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 36px ;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.service-frame16261 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1080px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.service-frame23667 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
  justify-content: space-between;
}
.service-image7 {
  width: 352px;
  object-fit: cover;
}
.service-frame16211 {
  gap: 16px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.service-text107 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-rectangle171 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-text108 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-rectangle201 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-text110 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-rectangle19 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.service-text111 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-frame23666 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.service-navlink4 {
  display: contents;
}
.service-frame16243 {
  height: 40px;
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 999px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.service-text113 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-vector1-stroke4 {
  width: 7px;
  height: 12px;
  position: relative;
}
.service-frame16251 {
  height: 40px;
  display: none;
  padding: 12px 16px 14px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  justify-content: center;
}
.service-text114 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  text-decoration: none;
}
.service-vector1-stroke5 {
  width: 7px;
  height: 12px;
  position: relative;
}
.service-container17 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.service-frame1637 {
  gap: 24px;
  width: 100%;
  display: flex;
  opacity: 0.5;
  position: relative;
  max-width: 1080px;
  align-self: center;
  flex-shrink: 0;
  margin-left: 0px;
  border-color: transparent;
  margin-right: 0px;
  justify-content: flex-end;
}
.service-text115 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text116 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text117 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-text118 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.service-frame57 {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.service-text119 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 991px) {
  .service-frame2403 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .service-frame1621 {
    display: none;
  }
  .service-frame2380 {
    align-self: center;
    justify-content: flex-end;
  }
  .service-container04 {
    height: 585px;
  }
  .service-q1-sogo {
    margin-bottom: 36px;
  }
  .service-q6 {
    flex-direction: column;
  }
  .service-q7 {
    flex-direction: column;
  }
  .service-q-3 {
    width: 100%;
  }
  .service-image5 {
    height: 240px;
  }
  .service-image51 {
    height: 240px;
  }
  .service-frame23594 {
    background-position: 70% 0%;
  }
  .service-frame23596 {
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
  }
  .service-frame23667 {
    gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .service-frame2403 {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
  }
  .service-frame1626 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .service-image1 {
    width: 24px;
    display: flex;
  }
  .service-frame23590 {
    display: none;
  }
  .service-frame23603 {
    gap: 16px;
    width: 100%;
    flex-direction: column;
  }
  .service-frame1624 {
    width: 100%;
    margin-right: 0px;
  }
  .service-frame2380 {
    height: auto;
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 48px;
  }
  .service-container04 {
    top: 48px;
    height: 480px;
  }
  .service-text008 {
    font-size: 48px;
  }
  .service-text011 {
    font-size: 48px;
  }
  .service-text014 {
    font-size: 48px;
  }
  .service-text017 {
    font-size: 48px;
  }
  .service-text020 {
    font-size: 28px;
  }
  .service-frame236031 {
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
  }
  .service-frame16241 {
    flex: 1;
    margin-right: 0px;
  }
  .service-frame1625 {
    flex: 1;
  }
  .service-frame23677 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .service-container09 {
    gap: 0px;
    flex-direction: column;
  }
  .service-text028 {
    font-size: 12px;
  }
  .service-text029 {
    color: rgb(43, 63, 83);
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 160%;
  }
  .service-container10 {
    gap: 0px;
    flex-direction: column;
  }
  .service-text032 {
    font-size: 12px;
  }
  .service-text033 {
    color: rgb(43, 63, 83);
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 160%;
  }
  .service-container11 {
    gap: 0px;
    flex-direction: column;
  }
  .service-text036 {
    font-size: 12px;
  }
  .service-text037 {
    color: rgb(43, 63, 83);
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 160%;
  }
  .service-q1-sogo {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
  .service-frame236771 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .service-frame2394 {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
  }
  .service-frame23601 {
    margin-right: 0px;
  }
  .service-text102 {
    font-size: 28px;
  }
  .service-frame56 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .service-frame16211 {
    width: auto;
  }
  .service-frame1637 {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .service-frame1626 {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
  .service-image {
    width: 100%;
  }
  .service-image1 {
    width: 24px;
    display: flex;
  }
  .service-frame23590 {
    display: none;
  }
  .service-frame23603 {
    gap: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
  .service-frame1624 {
    width: 100%;
  }
  .service-text006 {
    color: rgb(255, 255, 255);
  }
  .service-frame2380 {
    gap: 24px;
    height: auto;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
  }
  .service-container04 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 420px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
  }
  .service-div1 {
    opacity: 0.7;
  }
  .service-frame2375 {
    height: auto;
    padding-left: 16px;
    margin-bottom: 24px;
    padding-right: 16px;
    justify-content: space-between;
  }
  .service-frame2377 {
    width: 100%;
    margin-bottom: 24px;
  }
  .service-frame23595 {
    width: 100%;
    justify-content: center;
  }
  .service-text007 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.1rem;
    text-decoration: none;
  }
  .service-container06 {
    gap: 6px;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
  }
  .service-text008 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 8vw;
    text-align: center;
    font-family: Lexend;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
  }
  .service-text011 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 12vw;
    font-style: normal;
    text-align: center;
    font-family: Lexend;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
  }
  .service-text014 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 8vw;
    text-align: center;
    font-family: Lexend;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
  }
  .service-text017 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 8vw;
    font-style: normal;
    text-align: center;
    font-family: Lexend;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
  }
  .service-text020 {
    font-size: 5vw;
    text-align: center;
  }
  .service-frame236031 {
    gap: 8px;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .service-frame16241 {
    flex: 1;
    width: 100%;
    height: 56px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .service-text024 {
    color: transparent;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    line-height: 100%;
    margin-right: 8px;
    background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  }
  .service-frame1625 {
    flex: 0;
    width: 100%;
    height: 56px;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
  }
  .service-text025 {
    font-size: 18px;
    white-space: nowrap;
    margin-right: 8px;
  }
  .service-container08 {
    flex: 1;
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 23, 46, 0) 0.00%,rgb(0, 23, 46) 83.00%);
  }
  .service-frame23677 {
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
  .service-frame24031 {
    margin-bottom: 16px;
  }
  .service-text027 {
    font-size: 24px;
  }
  .service-q1-sogo {
    padding-left: 16px;
    padding-right: 16px;
  }
  .service-q3 {
    width: 100%;
  }
  .service-text040 {
    font-size: 4vw;
  }
  .service-text042 {
    font-size: 5vw;
  }
  .service-image5 {
    height: 160px;
  }
  .service-image51 {
    height: 160px;
  }
  .service-frame236771 {
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
  .service-text087 {
    font-size: 24px;
  }
  .service-text090 {
    font-size: 36px;
  }
  .service-text093 {
    font-size: 24px;
  }
  .service-text096 {
    font-size: 24px;
  }
  .service-text099 {
    font-size: 18px;
  }
  .service-frame2394 {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .service-frame23594 {
    padding: 24px;
    background-size: cover;
    background-position: left;
  }
  .service-frame23601 {
    gap: 8px;
  }
  .service-text102 {
    font-size: 5vw;
    text-align: center;
  }
  .service-frame16242 {
    width: 100%;
  }
  .service-text106 {
    font-size: 15px;
  }
  .service-frame56 {
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .service-frame23667 {
    align-self: center;
    justify-content: center;
  }
  .service-image7 {
    width: 100%;
  }
  .service-frame16211 {
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .service-text107 {
    width: auto;
  }
  .service-text108 {
    width: auto;
  }
  .service-text110 {
    width: auto;
  }
  .service-text111 {
    width: auto;
  }
  .service-frame23666 {
    justify-content: center;
  }
  .service-frame1637 {
    gap: 16px;
    max-width: auto;
    align-self: center;
    justify-content: center;
  }
  .service-text115 {
    width: auto;
    font-size: 11px;
  }
  .service-text116 {
    width: auto;
    font-size: 11px;
  }
  .service-text117 {
    width: auto;
    font-size: 11px;
  }
  .service-text118 {
    width: auto;
    font-size: 11px;
  }
}
