.sp-modal-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sp-modal-sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}
.sp-modal-frame2403 {
  width: 100%;
  display: flex;
  background: #ffffff50;
  align-items: center;
  padding-top: 8px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 8px;
  backdrop-filter: blur(8px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(8px);
}
.sp-modal-frame1626 {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.sp-modal-navlink {
  display: contents;
}
.sp-modal-image {
  width: 352px;
  object-fit: cover;
  text-decoration: none;
}
.sp-modal-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.sp-modal-frame23590 {
  gap: 16px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.sp-modal-frame1621 {
  gap: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.sp-modal-link {
  display: contents;
}
.sp-modal-container1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.sp-modal-text {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.sp-modal-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.sp-modal-link1 {
  display: contents;
}
.sp-modal-container2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.sp-modal-text02 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.sp-modal-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.sp-modal-container3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-modal-text04 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.sp-modal-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.sp-modal-frame23603 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.sp-modal-navlink1 {
  display: contents;
}
.sp-modal-frame1624 {
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-blue);
  background-image: linear-gradient(60deg, rgba(55, 125, 197, 1) 0%, rgba(1, 55, 146, 1) 100%);
}
.sp-modal-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.sp-modal-vector1-stroke {
  width: 20px;
  height: 20px;
  position: relative;
}
.sp-modal-frame1625 {
  display: flex;
  padding: 2px;
  position: relative;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  align-items: center;
  border-radius: 999px;
  justify-content: center;
}
.sp-modal-container4 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.sp-modal-text07 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-modal-vector1-stroke1 {
  width: 10px;
  height: 16px;
  position: relative;
}
.sp-modal-container5 {
  gap: 24px;
  width: 100%;
  display: flex;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 48px;
  justify-content: flex-start;
}
.sp-modal-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sp-modal-text08 {
  color: rgba(43, 63, 83, 1);
  margin-bottom: 24px;
}
.sp-modal-text09 {
  color: rgba(43, 63, 83, 1);
  margin-bottom: 24px;
}
.sp-modal-text10 {
  color: rgba(43, 63, 83, 1);
  margin-bottom: 24px;
}
.sp-modal-frame236031 {
  gap: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.sp-modal-navlink2 {
  display: contents;
}
.sp-modal-frame16241 {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-blue);
  background-image: linear-gradient(60deg, rgba(55, 125, 197, 1) 0%, rgba(1, 55, 146, 1) 100%);
}
.sp-modal-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.sp-modal-vector1-stroke2 {
  width: 20px;
  height: 20px;
  position: relative;
}
.sp-modal-frame16251 {
  width: 100%;
  display: flex;
  padding: 2px;
  position: relative;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  align-items: center;
  border-radius: 999px;
  justify-content: center;
}
.sp-modal-container6 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: center;
  background-color: #ffffff;
}
.sp-modal-text12 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-modal-vector1-stroke3 {
  width: 10px;
  height: 16px;
  position: relative;
}
@media(max-width: 991px) {
  .sp-modal-frame2403 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .sp-modal-frame1621 {
    display: none;
  }
}
@media(max-width: 767px) {
  .sp-modal-frame2403 {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
  }
  .sp-modal-frame1626 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sp-modal-image1 {
    width: 24px;
    display: flex;
  }
  .sp-modal-frame23590 {
    display: none;
  }
  .sp-modal-frame23603 {
    gap: 16px;
    width: 100%;
    flex-direction: column;
  }
  .sp-modal-frame1624 {
    width: 100%;
    margin-right: 0px;
  }
  .sp-modal-frame1625 {
    width: 100%;
  }
  .sp-modal-container4 {
    justify-content: center;
  }
  .sp-modal-container5 {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
  .sp-modal-nav {
    gap: 36px;
  }
  .sp-modal-text08 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .sp-modal-text09 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .sp-modal-text10 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .sp-modal-frame236031 {
    gap: 16px;
    width: 100%;
    flex-direction: row;
  }
  .sp-modal-frame16241 {
    flex: 1;
    width: 100%;
    height: 44px;
    margin-right: 0px;
  }
  .sp-modal-frame16251 {
    flex: 1;
    width: 100%;
    height: auto;
  }
  .sp-modal-container6 {
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .sp-modal-frame1626 {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
  .sp-modal-image {
    width: 100%;
  }
  .sp-modal-image1 {
    width: 24px;
    display: flex;
  }
  .sp-modal-frame23590 {
    display: none;
  }
  .sp-modal-frame23603 {
    gap: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
  .sp-modal-frame1624 {
    width: 100%;
  }
  .sp-modal-text06 {
    color: rgb(255, 255, 255);
  }
  .sp-modal-frame1625 {
    width: 100%;
  }
  .sp-modal-container4 {
    width: 100%;
    justify-content: center;
  }
  .sp-modal-container5 {
    padding-top: 36px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
  .sp-modal-frame236031 {
    gap: 16px;
    width: 100%;
    flex-direction: column;
  }
  .sp-modal-frame16241 {
    flex: 0 0 auto;
    width: 100%;
  }
  .sp-modal-text11 {
    color: rgb(255, 255, 255);
  }
  .sp-modal-frame16251 {
    width: 100%;
  }
  .sp-modal-container6 {
    width: 100%;
    justify-content: center;
  }
}
