<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <h3 class="component-text"><span>2023/03/13</span></h3>
    <div class="component-container1">
      <span class="component-text1 max-50">
        <span>
          「キャリアの実」さまの「おすすめのWebマーケティングスクール9選紹介【意味ないって本当？】」にご紹介いただきました
        </span>
      </span>
      <span class="component-text2 max-50">
        <span>
          「キャリアの実」さまの「おすすめのWebマーケティングスクール9選紹介【意味ないって本当？】」にご紹介いただきました
        </span>
      </span>
    </div>
    <div class="component-container2"></div>
  </div>
</div>
