.component-container {
  gap: 16px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 800px;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.component-text {
  color: rgb(130, 144, 159);
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 4%;
}
.component-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.component-text1 {
  color: rgb(43, 63, 83);
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: underline none;
}
.component-text2 {
  color: rgb(43, 63, 83);
  width: auto;
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  text-decoration: underline none;
}
.component-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 767px) {
  .component-container {
    gap: 0px;
    flex-direction: column;
  }
  .component-text {
    font-size: 12px;
  }
  .component-text1 {
    color: rgb(43, 63, 83);
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 160%;
  }
  .component-text2 {
    color: rgb(43, 63, 83);
    font-size: 14px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 160%;
  }
}
