.feature-card21-feature-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card21-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card21-text {
  color: #2b3f53;
  font-size: 20px;
  font-family: Noto Sans JP;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 4%;
}
.feature-card21-text1 {
  color: #e93d61;
  line-height: 160%;
  letter-spacing: 4%;
}














@media(max-width: 767px) {
  .feature-card21-feature-card {
    flex-direction: row;
  }
  .feature-card21-container {
    flex-direction: column;
  }
  .feature-card21-text {
    font-size: 16px;
  }
  .feature-card21-text1 {
    font-size: 14px;
  }
}
@media(max-width: 479px) {
  .feature-card21-container {
    margin-bottom: 24px;
    flex-direction: column;
  }
}
