<div>
  <link href="./footer1.css" rel="stylesheet" />
  <footer class="footer1-footer">
    <div class="footer1-container">
      <div class="footer1-container1">
        <div class="footer1-frame1637">
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/privacy"
            target="_blank"
            rel="noreferrer noopener"
            class="footer1-text"
          >
            プライバシーポリシー
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/company"
            target="_blank"
            rel="noreferrer noopener"
            class="footer1-text1"
          >
            <span>運営会社</span>
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/terms"
            target="_blank"
            rel="noreferrer noopener"
            class="footer1-text2"
          >
            <span>利用規約</span>
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/mailorder"
            target="_blank"
            rel="noreferrer noopener"
            class="footer1-text3"
          >
            <span>特定商取引法に基づく表記</span>
          </a>
        </div>
      </div>
      <div class="footer1-separator"></div>
      <div class="footer1-container2">
        <span class="footer1-text4"><span>© 2023 CUEBiC Inc.</span></span>
      </div>
    </div>
  </footer>
</div>
