.footer-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.footer-frame2400 {
  width: 100%;
  height: 634px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 80px;
  border-color: transparent;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 80px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/frame%202400-700h.webp");
}
.footer-frame1629 {
  width: 100%;
  display: flex;
  max-width: 1080px;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.footer-frame2399 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.footer-frame2377 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 24px;
  flex-direction: column;
  justify-content: center;
}
.footer-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-frame23628 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.footer-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 28px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 300%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: -8px;
  text-decoration: none;
}
.footer-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 300%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-frame53 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.footer-frame2394 {
  width: 100%;
  display: flex;
  align-self: center;
  background: radial-gradient(50% 271.24% at 50% 100%, #367BC4 0%, #061829 100%);
  align-items: center;
  padding-top: 80px;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  padding-bottom: 80px;
  justify-content: center;
}
.footer-frame23594 {
  flex: 1;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  padding: 48px;
  overflow: hidden;
  max-width: 1080px;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/frame%20237161-1100w.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-frame23596 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.footer-frame23601 {
  gap: 8px;
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  flex-direction: column;
}
.footer-frame23600 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.footer-frame23595 {
  display: flex;
  padding: 8px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
.footer-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: W3;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-text15 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.footer-frame23599 {
  display: flex;
  padding: 4px 8px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1599999964237213);
}
.footer-text19 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: W6;
  text-align: left;
  font-family: Hiragino Kaku Gothic Pro;
  font-weight: 400;
  line-height: 200%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.footer-frame1624 {
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 20px;
  border-color: transparent;
  padding-left: 24px;
  border-radius: 999px;
  padding-right: 24px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.footer-text22 {
  color: transparent;
  font-size: 18px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-vector1-stroke {
  height: 16px;
  position: relative;
}
.footer-frame56 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  padding-top: 36px ;
  border-color: transparent;
  padding-left: 48px;
  margin-bottom: 0px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 36px ;
  justify-content: center;
  background-color: var(--dl-color-default-black2);
  background-image: linear-gradient(150deg, rgba(43, 62, 83, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.footer-frame1626 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1080px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-frame23667 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 24px;
  justify-content: space-between;
}
.footer-image {
  width: 352px;
  object-fit: cover;
}
.footer-frame1621 {
  gap: 16px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.footer-text23 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text26 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle19 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.footer-frame23666 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.footer-frame16241 {
  height: 40px;
  display: flex;
  padding: 10px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 16px;
  border-radius: 999px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.footer-text29 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-vector1-stroke1 {
  width: 7px;
  height: 12px;
  position: relative;
}
.footer-frame1625 {
  height: 40px;
  display: flex;
  padding: 12px 16px 14px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 999px;
  justify-content: center;
}
.footer-text30 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 12px;
  margin-bottom: 0;
  text-decoration: none;
}
.footer-vector1-stroke2 {
  width: 7px;
  height: 12px;
  position: relative;
}
.footer-frame57 {
  display: flex;
  padding: 4px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.footer-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

@media(max-width: 991px) {
  .footer-frame2400 {
    height: auto;
    align-self: center;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: center;
  }
  .footer-frame23594 {
    background-position: 70% 0%;
  }
  .footer-frame23596 {
    gap: 24px;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-frame23667 {
    gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .footer-frame2400 {
    padding-left: 24px;
    padding-right: 24px;
    background-position: 60% 0%;
  }
  .footer-frame2394 {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 64px;
  }
  .footer-frame23601 {
    margin-right: 0px;
  }
  .footer-text15 {
    font-size: 28px;
  }
  .footer-frame56 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media(max-width: 479px) {
  .footer-text02 {
    font-size: 24px;
  }
  .footer-text04 {
    font-size: 16px;
  }
  .footer-frame23594 {
    padding: 24px;
    background-size: cover;
    background-image: cc711611-7616-44bd-a56d-d0e1900d6bed;
  }
  .footer-text15 {
    font-size: 24px;
  }
  .footer-frame23599 {
    width: 100%;
  }
  .footer-text19 {
    width: 100%;
  }
  .footer-frame1624 {
    width: 100%;
  }
  .footer-text22 {
    font-size: 15px;
  }
  .footer-frame56 {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-frame23667 {
    align-self: flex-start;
    justify-content: flex-start;
  }
  .footer-frame1621 {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-text23 {
    width: auto;
  }
  .footer-text24 {
    width: auto;
  }
  .footer-text26 {
    width: auto;
  }
  .footer-text27 {
    width: auto;
  }
  .footer-frame23666 {
    justify-content: center;
  }
}
