<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-frame2400">
      <div class="footer-frame1629">
        <div class="footer-frame2399">
          <div class="footer-frame2377">
            <span class="footer-text"><span>ReChallenge</span></span>
          </div>
          <div class="footer-frame23628">
            <span class="footer-text02"><span>自分には無理だろう。</span></span>
            <span class="footer-text04">
              <span>
                <span>かつてWebマーケターへの道を</span>
                <br />
                <span>諦めてしまったあなたへ。</span>
                <br />
                <span>今からでも遅くない。</span>
                <br />
                <span>再挑戦をCUEBiC Marketing Academyから。</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-frame53">
      <div class="footer-frame2394">
        <div class="footer-frame23594">
          <div class="footer-frame23596">
            <div class="footer-frame23601">
              <div class="footer-frame23600">
                <div class="footer-frame23595">
                  <span class="footer-text13"><span>第1期生募集中</span></span>
                </div>
              </div>
              <span class="footer-text15">
                <span>CUEBiC Marketing Academyが</span>
                <br />
                <span>今始まろうとしています。</span>
              </span>
              <div class="footer-frame23599">
                <span class="footer-text19">
                  <span>1期生特典(先着5名)</span>
                  <span>：条件達成で受講料全額返金&amp;授業料62%OFF</span>
                </span>
              </div>
            </div>
            <a href="form.html" class="footer-navlink">
              <div class="footer-frame1624">
                <span class="footer-text22">無料相談を予約する</span>
                <img
                  src="public/playground_assets/vector19stroke1561-t5h.svg"
                  class="footer-vector1-stroke"
                />
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer-frame56">
        <div class="footer-frame1626">
          <div class="footer-frame23667">
            <img
              src="public/playground_assets/cma-logos.svg"
              class="footer-image"
            />
            <div class="footer-frame1621">
              <a href="#s1" class="footer-text23"><span>3つの強み</span></a>
              <img
                alt="Rectangle171561"
                src="public/playground_assets/rectangle171561-fbvj-200w.png"
                class="footer-rectangle17"
              />
              <a href="#s2" class="footer-text24"><span>受講の流れ</span></a>
              <img
                alt="Rectangle201561"
                src="/playground_assets/rectangle201561-vz3p-200w.png"
                class="footer-rectangle20"
              />
              <a href="#s3" class="footer-text26"><span>価格</span></a>
              <img
                alt="Rectangle191561"
                src="/playground_assets/rectangle191561-ej2m-200w.png"
                class="footer-rectangle19"
              />
              <span class="footer-text27"><span>よくある質問</span></span>
            </div>
          </div>
          <div class="footer-frame23666">
            <a href="form.html" class="footer-navlink1">
              <div class="footer-frame16241">
                <span class="footer-text29">
                  <span>無料相談を予約する</span>
                </span>
                <img
                  src="public/playground_assets/vector19stroke1561-t5h.svg"
                  class="footer-vector1-stroke1"
                />
              </div>
            </a>
            <div class="footer-frame1625">
              <span class="footer-text30"><span>資料請求</span></span>
              <img
                src="public/playground_assets/vector19stroke1561-nmx9g.svg"
                class="footer-vector1-stroke2"
              />
            </div>
          </div>
        </div>
        <div class="footer-container1">
          <div class="footer-frame1637">
            <a
              href="https://cuebic-inc.studio.site/cma/THQ/privacy"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-text31"
            >
              プライバシーポリシー
            </a>
            <a
              href="https://cuebic-inc.studio.site/cma/THQ/company"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-text32"
            >
              運営会社
            </a>
            <a
              href="https://cuebic-inc.studio.site/cma/THQ/terms"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-text33"
            >
              利用規約
            </a>
            <a
              href="https://cuebic-inc.studio.site/cma/THQ/mailorder"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-text34"
            >
              特定商取引法に基づく表記
            </a>
          </div>
        </div>
      </div>
      <div class="footer-frame57">
        <span class="footer-text35"><span>2022 CUEBiC Ventures</span></span>
      </div>
    </div>
  </div>
</div>
