.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2b3f53;
}
.footer-container {
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer-frame1637 {
  gap: 24px;
  width: auto;
  display: flex;
  position: relative;
  max-width: 1200px;
  flex-shrink: 0;
  margin-left: 0px;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.footer-text {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text1 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text2 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-text3 {
  color: var(--dl-color-gray-white);
  width: auto;
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-text4 {
  color: var(--dl-color-gray-white);
  opacity: 0.3;
}

@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-frame1637 {
    flex-wrap: wrap;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text4 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
  }
  .footer-frame1637 {
    gap: 24px;
    max-width: auto;
    align-self: center;
    justify-content: center;
  }
  .footer-text {
    width: auto;
  }
  .footer-text1 {
    width: auto;
  }
  .footer-text2 {
    width: auto;
  }
  .footer-text3 {
    width: auto;
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text4 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
