<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <div class="footer-frame1637">
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/privacy"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-text"
          >
            <span>プライバシーポリシー</span>
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/company"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-text1"
          >
            <span>運営会社</span>
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/terms"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-text2"
          >
            <span>利用規約</span>
          </a>
          <a
            href="https://cuebic-inc.studio.site/cma/THQ/mailorder"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-text3"
          >
            <span>特定商取引法に基づく表記</span>
          </a>
        </div>
      </div>
      <div class="footer-separator"></div>
      <div class="footer-container2">
        <span class="footer-text4"><span>© 2023 CUEBiC Inc.</span></span>
      </div>
    </div>
  </footer>
</div>
