<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-frame23696">
    <div class="header-frame1625">
      <span class="header-text">
        <span>【先着5名】全額返金キャンペーン実施中</span>
      </span>
    </div>
    <div class="header-frame2403">
      <div class="header-frame1626">
        <img src="public/playground_assets/logo-cma.svg" class="header-image" />
        <img src="public/playground_assets/menu-b.svg" class="header-image1" />
        <div class="header-frame23590">
          <div class="header-frame1621">
            <a href="#s1" class="header-text02"><span>3つの強み</span></a>
            <img
              src="public/playground_assets/frame%2023715-200h.webp"
              class="header-rectangle17"
            />
            <a href="#s2" class="header-text04"><span>受講の流れ</span></a>
            <img
              alt="Rectangle201561"
              src="public/playground_assets/frame%2023715-200h.webp"
              class="header-rectangle20"
            />
            <a href="#s3" class="header-text06"><span>価格</span></a>
            <img
              src="public/playground_assets/frame%2023715-200h.webp"
              alt="Rectangle191561"
              class="header-rectangle19"
            />
            <span class="header-text07"><span>よくある質問</span></span>
            <img
              alt="Rectangle211561"
              src="/playground_assets/rectangle211561-lp0a-200w.png"
              class="header-rectangle21"
            />
          </div>
          <div class="header-frame23603">
            <a href="form.html" class="header-navlink">
              <div class="header-frame1624">
                <span class="header-text09"><span>無料相談予約</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/outline1.svg"
                  class="header-vector1-stroke"
                />
              </div>
            </a>
            <div class="header-frame16251">
              <div class="header-container">
                <span class="header-text10"><span>資料請求</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/vector19stroke1561-9qbl.svg"
                  class="header-vector1-stroke1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
