<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/dangerous-html@0.1.11/dist/default/lib.umd.js"
  ></script>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-frame23696">
    <div class="header-frame2403">
      <div class="header-frame1626">
        <a href="index.html" class="header-navlink">
          <img
            src="public/playground_assets/logo-cma.svg"
            class="header-image"
          />
        </a>
        <img
          id="js-button"
          src="public/playground_assets/menu-b.svg"
          class="header-image1"
        />
        <div class="header-frame23590">
          <div class="header-frame1621">
            <a href="#s1" class="header-link">
              <div class="header-container">
                <span class="header-text"><span>3つの強み</span></span>
              </div>
            </a>
            <img
              src="public/playground_assets/frame%2023715-200h.webp"
              class="header-rectangle17"
            />
            <a href="#s2" class="header-link01">
              <div class="header-container01">
                <span class="header-text02"><span>受講の流れ</span></span>
              </div>
            </a>
            <img
              alt="Rectangle201561"
              src="public/playground_assets/frame%2023715-200h.webp"
              class="header-rectangle20"
            />
            <a href="#s7" class="header-link02">
              <div class="header-container02">
                <span class="header-text04"><span>よくある質問</span></span>
              </div>
            </a>
            <img
              alt="Rectangle211561"
              src="/playground_assets/rectangle211561-lp0a-200w.png"
              class="header-rectangle21"
            />
          </div>
          <div class="header-frame23603">
            <a href="form.html" class="header-navlink1">
              <div class="header-frame1624">
                <span class="header-text06"><span>無料相談予約</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/outline1.svg"
                  class="header-vector1-stroke"
                />
              </div>
            </a>
            <div class="header-frame1625">
              <div class="header-container03">
                <span class="header-text07"><span>資料請求</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/vector19stroke1561-9qbl.svg"
                  class="header-vector1-stroke1"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-frame16251">
      <div class="header-container04">
        <div class="header-frame1629">
          <a href="#sc1" class="header-link03">
            <div class="header-frame1630">
              <div class="header-frame23605">
                <img
                  alt="image"
                  src="/playground_assets/frame%201644-1500h.png"
                  class="header-image2"
                />
              </div>
              <div class="header-frame2407">
                <span class="header-text08">LEARNING</span>
                <span class="header-text09">
                  <span><span>学習カリキュラム</span></span>
                </span>
              </div>
              <img
                alt="Vector19Stroke1561"
                src="public/playground_assets/vector19stroke1561-ninj.svg"
                class="header-vector1-stroke2"
              />
            </div>
          </a>
          <a href="#sc2" class="header-link04">
            <div class="header-frame1633">
              <div class="header-frame236051">
                <img
                  alt="image"
                  src="/playground_assets/frame%201642-1500h.png"
                  class="header-image3"
                />
              </div>
              <div class="header-frame2405">
                <span class="header-text11">
                  <span><span>SUPPORT</span></span>
                </span>
                <span class="header-text13">
                  <span><span>転職サポート</span></span>
                </span>
              </div>
              <img
                alt="Vector19Stroke1561"
                src="public/playground_assets/vector19stroke1561-q93f.svg"
                class="header-vector1-stroke3"
              />
            </div>
          </a>
          <a href="#s3" class="header-link05">
            <div class="header-frame1631">
              <div class="header-frame236052">
                <img
                  alt="image"
                  src="/playground_assets/frame%201643-1500h.png"
                  class="header-image4"
                />
              </div>
              <div class="header-frame2406">
                <span class="header-text15">
                  <span><span>料金プラン</span></span>
                </span>
                <div class="header-container05">
                  <span class="header-text17">
                    <span><span>キャンペーン中</span></span>
                  </span>
                </div>
              </div>
              <img
                alt="Vector19Stroke1561"
                src="public/playground_assets/vector19stroke1561-whq.svg"
                class="header-vector1-stroke4"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="js-menu" class="menu">
      <div class="header-frame24031">
        <div class="header-frame16261">
          <a href="index.html" class="header-navlink2">
            <img
              src="public/playground_assets/logo-cma.svg"
              class="header-image5"
            />
          </a>
          <img
            id="js-closee"
            src="public/playground_assets/menu-close.svg"
            class="header-image6"
          />
          <div class="header-frame235901">
            <div class="header-frame16211">
              <a href="#s1" class="header-link06">
                <div class="header-container06">
                  <span class="header-text19">
                    <span><span>3つの強み</span></span>
                  </span>
                </div>
              </a>
              <img
                src="/playground_assets/frame%2023715-200h.webp"
                class="header-rectangle171"
              />
              <a href="#s2" class="header-link07">
                <div class="header-container07">
                  <span class="header-text21">
                    <span><span>受講の流れ</span></span>
                  </span>
                </div>
              </a>
              <img
                alt="Rectangle201561"
                src="/playground_assets/frame%2023715-200h.webp"
                class="header-rectangle201"
              />
              <a href="#s7" class="header-link08">
                <div class="header-container08">
                  <span class="header-text23">
                    <span><span>よくある質問</span></span>
                  </span>
                </div>
              </a>
              <img
                alt="Rectangle211561"
                src="/playground_assets/rectangle211561-lp0a-200w.png"
                class="header-rectangle211"
              />
            </div>
            <div class="header-frame236031">
              <a href="form.html" class="header-navlink3">
                <div class="header-frame16241">
                  <span class="header-text25"><span>無料相談予約</span></span>
                  <img
                    alt="Vector19Stroke1561"
                    src="/playground_assets/outline1.svg"
                    class="header-vector1-stroke5"
                  />
                </div>
              </a>
              <div class="header-frame16252">
                <div class="header-container09">
                  <span class="header-text26"><span>資料請求</span></span>
                  <img
                    alt="Vector19Stroke1561"
                    src="/playground_assets/vector19stroke1561-9qbl.svg"
                    class="header-vector1-stroke6"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-container10">
        <nav class="header-nav">
          <a href="#s1" id="m1" class="header-link09"><span>3つの強み</span></a>
          <a href="#s2" id="m2" class="header-link10">
            <span>受講の流れ</span>
          </a>
          <a href="#s7" id="m3" class="header-link11">
            <span>よくある質問</span>
          </a>
          <div class="header-frame236032">
            <a href="form.html" class="header-navlink4">
              <div id="js-close" class="header-frame16242">
                <span class="header-text27"><span>無料相談予約</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/outline1.svg"
                  class="header-vector1-stroke7"
                />
              </div>
            </a>
            <div class="header-frame16253">
              <div class="header-container11">
                <span class="header-text28"><span>資料請求</span></span>
                <img
                  alt="Vector19Stroke1561"
                  src="public/playground_assets/vector19stroke1561-9qbl.svg"
                  class="header-vector1-stroke8"
                />
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div>
      <dangerous-html
        html="<style>
  .menu {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all .3s ease;
  }

  .menu.is-show {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

</style>

<script>
let button = document.getElementById('js-button');
let menu = document.getElementById('js-menu');
let close = document.getElementById('js-closee');
let close1 = document.getElementById('m1');
let close2 = document.getElementById('m2');
let close3 = document.getElementById('m3');

button.addEventListener('click',()=>{
  menu.classList.add('is-show');
});

close.addEventListener('click', (evemt) => {
  menu.classList.remove('is-show');
});
close1.addEventListener('click', (evemt) => {
  menu.classList.remove('is-show');
});
close2.addEventListener('click', (evemt) => {
  menu.classList.remove('is-show');
});
close3.addEventListener('click', (evemt) => {
  menu.classList.remove('is-show');
});

</script>"
      ></dangerous-html>
    </div>
  </div>
</div>
