.header-frame23696 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.header-frame2403 {
  width: 100%;
  display: flex;
  position: relative;
  background: #ffffff50;
  align-items: center;
  padding-top: 8px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 8px;
  backdrop-filter: blur(8px);
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(8px);
}
.header-frame1626 {
  width: 100%;
  display: flex;
  position: relative;
  flex-grow: 1;
  max-width: 1440px;
  align-items: center;
  border-color: transparent;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 352px;
  object-fit: cover;
  text-decoration: none;
}
.header-image1 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.header-frame23590 {
  gap: 16px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.header-frame1621 {
  gap: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.header-link {
  display: contents;
}
.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.header-rectangle17 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.header-link1 {
  display: contents;
}
.header-container1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text02 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.header-rectangle20 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.header-link2 {
  display: contents;
}
.header-container2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text04 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
}
.header-rectangle19 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.header-container3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-text05 {
  color: #2b3f53;
  font-size: 14px;
  align-self: center;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.header-rectangle21 {
  width: 1px;
  height: 9px;
  position: relative;
  border-color: transparent;
}
.header-frame23603 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.header-navlink1 {
  display: contents;
}
.header-frame1624 {
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  margin-right: 16px;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-blue);
  background-image: linear-gradient(60deg, rgba(55, 125, 197, 1) 0%, rgba(1, 55, 146, 1) 100%);
}
.header-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  text-decoration: none;
}
.header-vector1-stroke {
  width: 20px;
  height: 20px;
  position: relative;
}
.header-frame1625 {
  display: flex;
  padding: 2px;
  position: relative;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  align-items: center;
  border-radius: 999px;
  justify-content: center;
}
.header-container4 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 999px;
  padding-right: 20px;
  justify-content: space-between;
  background-color: #ffffff;
}
.header-text08 {
  color: transparent;
  font-size: 14px;
  align-self: auto;
  background: linear-gradient(88.68deg, #377DC5 0%, #013792 100%);
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 8px;
  margin-bottom: 0;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(88.68deg, rgb(55, 125, 197) 0%, rgb(1, 55, 146) 100%);
  animation-play-state: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-vector1-stroke1 {
  width: 10px;
  height: 16px;
  position: relative;
}
.header-frame16251 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  backdrop-filter: blur(8px);
  justify-content: center;
  background-color: rgba(246, 251, 255, 0.95);
  -webkit-backdrop-filter: blur(8px);
}
.header-container5 {
  gap: 24px;
  width: 100%;
  height: 36px;
  display: flex;
  max-width: 1080px;
  align-items: center;
  justify-content: center;
}
.header-link3 {
  display: contents;
}
.header-container6 {
  gap: 8px;
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text09 {
  color: #2b3f53;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.header-image2 {
  width: 14px;
  object-fit: cover;
}
.header-link4 {
  display: contents;
}
.header-container7 {
  gap: 8px;
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text10 {
  color: rgb(43, 63, 83);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.header-image3 {
  width: 14px;
  object-fit: cover;
}
.header-link5 {
  display: contents;
}
.header-container8 {
  gap: 8px;
  width: 160px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-text11 {
  color: #2b3f53;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.header-image4 {
  width: 14px;
  object-fit: cover;
}

@media(max-width: 991px) {
  .header-frame2403 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .header-frame1621 {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-frame2403 {
    padding-top: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
  }
  .header-frame1626 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header-image1 {
    width: 24px;
    display: flex;
  }
  .header-frame23590 {
    display: none;
  }
  .header-frame23603 {
    gap: 16px;
    width: 100%;
    flex-direction: column;
  }
  .header-frame1624 {
    width: 100%;
    margin-right: 0px;
  }
  .header-frame1625 {
    width: 100%;
  }
  .header-container4 {
    justify-content: center;
  }
  .header-frame16251 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-container5 {
    gap: 0px;
    height: 48px;
  }
  .header-container6 {
    flex: 1;
    flex-direction: column;
  }
  .header-container7 {
    flex: 1;
    flex-direction: column;
  }
  .header-container8 {
    flex: 1;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .header-frame1626 {
    gap: 20px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
  }
  .header-image {
    width: 100%;
  }
  .header-image1 {
    width: 24px;
    display: flex;
  }
  .header-frame23590 {
    display: none;
  }
  .header-frame23603 {
    gap: 16px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }
  .header-frame1624 {
    width: 100%;
  }
  .header-text07 {
    color: rgb(255, 255, 255);
  }
  .header-frame1625 {
    width: 100%;
  }
  .header-container4 {
    width: 100%;
    justify-content: center;
  }
  .header-frame16251 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-container5 {
    gap: 0px;
  }
  .header-container6 {
    flex: 1;
  }
  .header-text09 {
    font-size: 12px;
  }
  .header-container7 {
    flex: 1;
  }
  .header-text10 {
    font-size: 12px;
  }
  .header-container8 {
    flex: 1;
  }
  .header-text11 {
    font-size: 12px;
  }
}
