<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-frame23696">
    <div class="header-frame1625">
      <span class="header-text">
        <span>【先着5名】全額返金キャンペーン実施中</span>
      </span>
    </div>
    <div class="header-frame2403">
      <div class="header-frame1626">
        <img
          src="public/playground_assets/cma-logos.svg"
          class="header-image"
        />
        <img
          alt="image"
          src="/playground_assets/menu.svg"
          class="header-image1"
        />
        <div class="header-frame23590">
          <div class="header-frame1621">
            <a href="#s1" class="header-text02"><span>3つの強み</span></a>
            <img
              alt="Rectangle171561"
              src="/playground_assets/rectangle171561-qr5c-200w.png"
              class="header-rectangle17"
            />
            <a href="#s2" class="header-text04"><span>受講の流れ</span></a>
            <img
              alt="Rectangle201561"
              src="/playground_assets/rectangle201561-ph3q-200w.png"
              class="header-rectangle20"
            />
            <a href="#s3" class="header-text06"><span>価格</span></a>
            <img
              alt="Rectangle191561"
              src="/playground_assets/rectangle191561-dgjn-200w.png"
              class="header-rectangle19"
            />
            <span class="header-text07"><span>よくある質問</span></span>
            <img
              alt="Rectangle211561"
              src="/playground_assets/rectangle211561-lp0a-200w.png"
              class="header-rectangle21"
            />
          </div>
          <div class="header-container">
            <a href="form.html" class="header-navlink">
              <div class="header-frame1624">
                <span class="header-text09"><span>無料相談</span></span>
                <img
                  src="public/playground_assets/vector19stroke1561-t5h.svg"
                  class="header-vector1-stroke"
                />
              </div>
            </a>
            <div class="header-frame16251">
              <span class="header-text10"><span>資料請求</span></span>
              <img
                src="public/playground_assets/vector19stroke1561-1m59.svg"
                class="header-vector1-stroke1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
